@model RecupereJa.ViewModel.PerfilUsuarioViewModel

<form method="post" asp-action="Perfil" asp-controller="Usuario">

	<div class="profile-container">
		<div class="sidebar">
			<img src="@Model.FotoPerfilUrl" class="profile-photo" alt="Profile Photo" />
			<h2>@Model.Nome</h2>
			<p>@Model.Genero</p>
			<p>@Model.Cidade</p>
			<p class="rating">⭐ @Model.Rating</p>
			<p>@Model.DataNascimentoFormatada</p>

			<div class="contact-info">
				<p>Telefone: <a href="tel:@Model.Telefone">@Model.Telefone</a></p>
				<p>E-mail: <a href="mailto:@Model.Email">@Model.Email</a></p>
			</div>
		</div>
	</div>
</form>

@* 
Corrigir essa parte, no Controller(Eu acho) e as entidades no model 
Task de rápida cerca de 1 hora +/-
*@
